#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv

# Yougile integration test credentials
export YOUGILE_TEST_API_URL="http://yougile-linux.local"
export YOUGILE_TEST_API_TOKEN="fAG9D2YnvWs1Oo9ypLqqBNaaS1U14RgTU+Nxia+Xjy32O1Pcwru12MH4ToPOKdXf"
